/*LOGIN REGISTRER CUENTA CARRITO ADMIN EMPLEADO

register <span class="material-symbols-outlined">
how_to_reg
</span>

login <span class="material-symbols-outlined">
login
</span>entrada
<span class="material-symbols-outlined">
logout
</span>salida

cuenta <span class="material-symbols-outlined">
account_circle
</span>

carrito <span class="material-symbols-outlined">
shopping_cart
</span>

admin <span class="material-symbols-outlined">
admin_panel_settings
</span>

emleado
*/
body{
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background: transparent;
    border-color: aqua;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

.navBar{
    padding-right: 20px;
}
.navBar ul{
    text-decoration: none;
    list-style: none;
}
.navBar ul li{
    display: inline;
    padding: 25px;

}
.divFlexLibros{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}
.divLibros{
    background-color: aqua;
    height: 325px;
    width: 170px; 
    margin: 20px;
}
.tituloLibros{
    font-size: 70px;
    text-align: center;
}

.tituloLibro{
    text-align: center;
}
.divImgLibro{

    width: 100%;
    height: 55%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divImgLibro img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.descripcionLibro{
    text-align: center;
}
.precioLibro{
    text-align: center;
}
.botonFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
#seccionLibros{
    background-color: aliceblue;
    border-bottom: 1px grey solid;
    border-right:5px grey solid ;
}



footer{
    background-color: aqua;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;

}

/* .footerUsuariosPhp{
    bottom: 0;
    position: absolute;
} */

/* estilos para los modales de login-register */
.login{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0 ,0 ,0 ,0.5);
}
.login-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 10%;
}
.loginForm{
    display: flex;
    justify-content:center;
    flex-direction:column;
}

.register{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0 ,0 ,0 ,0.5);
}
.register-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 10%;
}
.registerForm{
    display: flex;
    justify-content:center;
    flex-direction:column;
}

.flexInfoLibro{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-top: 100px;
}

.divFoto{
    width:15%;
}
.divFoto img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    padding: 10px;
}
.divInfo{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
    width:50%;
    margin-left:50px;
}
.ArticlePrincipalCheckout{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.divLibroCheckOut{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.divFotoCheckOut {
    width: 8%;
}
.divFotoCheckOut img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    padding: 3px;
}


.seccionInfoEnvio{
    width: 100%;
    height:500px ;
    background-color: aqua;

}

.datosDeEnvioForm{
    display: none;
    flex-direction: column;
    align-items: center;
}

.datosDeCompraForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcionMetodoEntrega{
    margin-bottom: 10px;
}

.seccionInfoEnvio{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
}
.ArticlePrincipalVentas{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.divVenta{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.seccionInfoVenta{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
}
.divEstadoPago{
    padding: 10px;
    border: 2px solid black;
}
.divEstadoVenta{
    padding: 10px;
    border: 2px solid black;
}
.costoTotalVenta{
    padding: 8px;
    border: 2px solid black;
}
.datosEnvioVenta{
    padding: 10px;
    border: 2px solid black;
}





/* PAGINA INDEX ADMIN.PHP */
.divAdminFlexMain{
    display: flex;
    justify-content: center;
}
.divPhpAdminPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.divLinksPhpAdmin{
    display: flex;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    border: solid 2px aquamarine;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttonLinksAdminPhp{
    background-color: lightgray;
    padding: 8px;
    border: solid 2px aquamarine;
}

/* FIN PAGINA INDEX ADMIN.PHP */


/* PAGINA USUARIOS PHP */

#seccionUsuariosPhp{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.divOpcionesUsuario{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divOpcionesUsuario p {
    margin-bottom: 1px;
}

.seccionMostrarUsuariosEspecificos{
    width: 400px;
    height: 100%;
}
.tablaMostrarUsuarios{
    display: flex;
    justify-content: center;
}

.tablaMostrarUsuarios {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tablaMostrarUsuarios table{
    border: 2px solid aquamarine;
    padding: 50px;
}

.tablaMostrarUsuarios th{
    padding: 25px;
}


.tablaMostrarUsuarios td{
    border: solid 1px lightgray;
    padding: 5px;
}

.divBusquedaEmpleados {
    display: none;
}

.divBusquedaClientes {
    display: none;
}


/* FIN PAGINA USUARIOS PHP */


/* PAGINA CARGAR LIBROS PHP */

#seccionCargarLibroPhp{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
}
.formularioCarga {
    background-color: lightgray;
    border: solid 2px aquamarine;
    width: 100%;
            max-width: 800px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.label-box {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: #f0f0f0;
}
.input-box {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
}
input[type="text"], input[type="image"],
input[type="number"], input[type="date"], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.botonform {
    padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
}

/* FIN PAGINA CARGAR LIBROS PHP   */



/*  PAGINA MODIFICAR LIBRO PHP   */

#sectionModificarLibroPhp{
    width: 100%;
    height:100vh;
    background-color: blueviolet;
}

.flexPrincipalModificarLibrosPhp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cajaTituloId{
    width: 60%;
    height: 220px;
    margin-top: 50px;
    border: solid 2px blue;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cajaTituloId label, .cajaTituloId input {
    margin-bottom: 10px;
}


#tituloId{
    margin-left: 25px;
}

.cajaEnviarModificarLibro{
    display: flex;
    justify-content: center;
    align-items: center;
}



.cajaInfoLibrosIDtit{
    width: 60%;
    height: 600px;
    border: solid 2px blue;
    margin-top: 20px;
}


/*  FIN PAGINA MODIFICAR LIBRO PHP   */
